@model Courses
<div class="row">
    <div class="col-9">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Add Course</h5>

            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                  

                    <div class="mb-3 form-group">
                        <label asp-for="Name" class="form-label">Course</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>               

                    <div class="mb-3 form-group">
                        <label asp-for="Mark" class="form-label">Price</label>
                        <input asp-for="Mark" class="form-control" />
                        <span asp-validation-for="Mark" class="text-danger"></span>

                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="CoursesDuration" class="form-label">Time</label>
                        <input asp-for="CoursesDuration" class="form-control" />
                        <span asp-validation-for="CoursesDuration" class="text-danger"></span>

                    </div>
              
                    <button type="submit" class="btn btn-primary">Add course</button>
                    <a asp-action="Index" class="btn btn-danger">Back</a>
                </form>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}