@model Students
<div class="row">
    <div class="col-9">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Add Student</h5>


            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3 form-group">
                        <label asp-for="Photo" class="form-label">Photo</label>
                        <input asp-for="Photo" accept="image/*" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Name" class="form-label">Fullname</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Birthday" class="form-label">Birthdate</label>
                        <input type="date" format="dd.mm.yyyy" asp-for="Birthday" class="form-control" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>

                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Mobil" class="form-label">Phone number *|(+994) 70-301-23-94|</label>
                        <input type="text" asp-for="Mobil" class="form-control" oninput="validatePhoneNumber(this)" />
                        <span asp-validation-for="Mobil" class="text-danger"></span>
                    </div>


                    <div class="mb-3 form-group">
                        <label asp-for="Payment" class="form-label">Payment</label>
                        <input asp-for="Payment" class="form-control" />
                        <span asp-validation-for="Payment" class="text-danger"></span>

                    </div>




                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Course</label>
                        <select class="form-control" name="CatId">
                            @foreach (Courses cat in ViewBag.Courses)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }


                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Group</label>
                        <select class="form-control" name="GatId">
                            @foreach (Groups cat in ViewBag.Groups)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Add student</button>
                    <a asp-action="Index" class="btn btn-danger">Back</a>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    function validatePhoneNumber(input) {
        const phoneNumberPattern = /^\(\d{3}\) \d{2}-\d{3}-\d{2}-\d{2}$/;
        const phoneNumber = input.value.trim();
        const errorSpan = input.nextElementSibling;

        
        if (phoneNumber.includes(' ')) {
            
            input.value = phoneNumber.replace(/\s+/g, '');
        }

        
        if (!phoneNumberPattern.test(phoneNumber)) {
            errorSpan.textContent = "Number format is not true";
        } else {
            errorSpan.textContent = "";
        }
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}